{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<h1>Scrap</h1>

<p> 스크랩 수정 </p>

<br>

<div>
    <form action="{% url 'create' %}" method ="post">
        {%csrf_token%}
        <h6> Title </h6>
        <input type="text" name="title" value="{{scrapdetails.title}}">
        <br><br>
        <h6> Writer </h6>
        <input type="text" name="author" value= "{{scrapdetails.author}}">
        <br><br>
        <h6> Content </h6>
        <textarea cols=80 rows=25 name="body" value="{{scrapdetails.body}}" ></textarea>
        <br><br>
        <input class="btn btn-outline-dark" type="submit" value="Edit">
    </form>
</div>



{% endblock %}