{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .site2-container {
        padding: 0;
        margin: auto;
        max-width: calc(100% -50px);
    }

    .teem-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.5rem;
    }

    .teem-image {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .teem-image img {
        max-width: 100%;
        height: auto;
        border-radius: 15px 15px 0 0;
    }

    .teem-content img {
        max-width: 10%;
        height: auto;
        border-radius: 15px 15px 0 0;
        vertical-align: middle;
    }

    .teem-content {
        font-size: 13px;
        margin: 10px;
        align-content: center;
        vertical-align: middle;
    }


    .teem-card {
        background: white;
        transition: 0.3s;
    }

    .teem-card {
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        cursor: pointer;
    }

    @media screen {
        .site-container {
            max-width: 3000px;
        }

        .site2-container {
            max-width: 3000px;
        }

        .teem-card {
            display: grid;
            grid-template-rows: 280px 1fr;
        }
    }
    .carousel-inner {
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 15px
        }
</style>
<br>
<h1>Photography</h1>

<p>직접 찍은 사진
</p><br>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'tt1.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>일본</h5>
                <p>2018</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'tt2.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>유럽</h5>
                <p>2019</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'tt3.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>가평</h5>
                <p>2021</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br>
<div class="teem-container">
    <teem class="teem-card">
        <figure class="teem-image">
            <image src="{% static 't1.jpg'%}" alt='' />
        </figure>

        <div class="teem-content">
            <h7>2020 수원</h7>
        </div>
    </teem>

    <teem class="teem-card">
        <figure class="teem-image">
            <image src="{% static 't2.jpg'%}" alt='' />
        </figure>
        <div class="teem-content">
            <h7>2020 부산</h7>
        </div>
    </teem>

    <teem class="teem-card">
        <figure class="teem-image">
            <image src="{% static 't3.jpg'%}" alt='' />
        </figure>

        <div class="teem-content">
            <h7>2019 서울</h7>
        </div>
    </teem>

    <teem class="teem-card">
        <figure class="teem-image">
            <image src="{% static 't4.jpg'%}" alt='' />
        </figure>
        <div class="teem-content">
            <h7>2020 강릉</h7>
        </div>
    </teem>

    <teem class="teem-card">
        <figure class="teem-image">
            <image src="{% static 't5.jpg'%}" alt='' />
        </figure>

        <div class="teem-content">
            <h7>2020 수원</h7>
        </div>
    </teem>

    <teem class="teem-card">
        <figure class="teem-image">
            <image src="{% static 't6.jpg'%}" alt='' />
        </figure>

        <div class="teem-content">
            <h7>2019 서울</h7>
        </div>
    </teem>

    <teem class="teem-card">
        <figure class="teem-image">
            <image src="{% static 't7.jpg'%}" alt='' />
        </figure>
    
        <div class="teem-content">
            <h7>2021 가평</h7>
        </div>
    </teem>

    <teem class="teem-card">
        <figure class="teem-image">
            <image src="{% static 't8.jpg'%}" alt='' />
        </figure>
    
        <div class="teem-content">
            <h7>2019 제주</h7>
        </div>
    </teem>
    
</div>

<br><br>

{% endblock %}